# Compiler files
cache/
out/

# Broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Environment
.env
.env.*
!.env.example

# macOS
.DS_Store
.DS_Store?

# Logo (troppo grande per git)
logo.png

# Node
keeper/node_modules/
keeper/.env

# Foundry
foundry.lock
